:root {
    --primary-color: #29BB1F;
    --primary-hover: #239E1A;
    --background-color: #efefef;
    --text-color: #000;
    --white-color:#fff;
    --graytext-color:#6c6c6c;
    --border-color:#c1c1c1;
    --placeholder-color:#cecece;
}
