* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.login-variant-5 .login-main-block {
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

.login-variant-5 .left-image-container .left-imge {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
}

.login-variant-5 .login-main-block h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.login-variant-5 .logo-section h3 {
    margin-bottom: 60px;
}

.login-variant-5 .login-right-section {
    width: 70%;
    margin: auto;
}

.login-variant-5 .login-right-section .login-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white-color);
    border-radius: 10px;
    margin-top: 20px;
}

.login-variant-5 .login-right-section p {
    font-weight: 200;
    font-size: 15px;
}

.login-variant-5 .login-form {
    width: 100%;
}

.login-variant-5 .login-form label {
    font-size: 15px;
}

.login-variant-5 .input-box {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color) !important;
    border-radius: 50px;
    padding: 10px 22px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    height: 45px;
}

.login-variant-5 .input-box::placeholder {
    color: #cecece;
    font-weight: 200;
}

.login-variant-5 .input-box:focus {
    box-shadow: 0 0 0 0.25rem rgba(158, 137, 106, 0.25);
    outline: none;
}

.login-variant-5 .remember-check-box input {
    margin-right: 5px;
}

.login-variant-5 .remember-check-box input[type="checkbox"] {
    accent-color: var(--primary-color);
}

.remember-check-box label,
.remember-check-box input,
.remember-check-box+.forgot-password-link {
    color: var(--black-color);
    font-weight: 200;
    font-size: 13px !important;
    vertical-align: middle;
}

.login-variant-5 .remember-check-box+.forgot-password-link {
    text-decoration: none;
}

.login-variant-5 .password-section {
    position: relative;
}

.login-variant-5 .password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.login-variant-5 .eye-icon {
    position: absolute;
    right: 20px;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-variant-5 .btn-login {
    background-color: var(--primary-color);
    color: white;
    border: var(--primary-color);
    padding: 10px 40px;
    border-radius: 30px;
    width: 200px;
}

.login-variant-5 .btn-login:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.password-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
    color: #777; /* Adjust color */
  }

@media only screen and (max-width:991px) {
    .login-variant-5 .left-image-container {
        display: none;
    }

    .login-variant-5 .login-variant-5 .login-right-section {
        width: 80%;
        margin: auto;
    }

    .login-variant-5 .btn-login {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:768px) {
    .login-variant-5 .left-image-container {
        display: none;
    }

    .login-variant-5 .login-variant-5 .login-right-section {
        width: 80%;
        margin: auto;
    }

    .login-variant-5 .btn-login {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:767px) {
    .login-variant-5 .left-image-container {
        display: none;
    }

    .login-variant-5 .login-variant-5 .login-right-section {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width:575px) {
    .login-variant-5 .logo-section h3 {
        margin-bottom: 0px;
        text-align: left;
    }

    .login-variant-5 .login-main-block h3 {
        font-size: 18px;
    }
}